$fontMain: white;
$fontSmall: rgba(255,255,255,.75);
$findIcon: url("Search.svg");
$inputColor: rgb(100,100,100);

.hi{
  color:$fontSmall;
  font-size: 0.8em;
  margin-bottom:1em
}
.mainHeader{
  color: $fontMain;
  font-size: 2em;
  margin: 0.3em 0;
  line-height: 1em;
}

input{
  padding: 0.3em;
  border-radius: 25px;
  height: 3.5em;
  width: 100%;
  margin: 60px auto;
  border:0;
  background-image: $findIcon;
  background-repeat: no-repeat;
  background-position: 12px 12px;
  padding-left:45px;
  color:$inputColor;


}

input:focus{
  outline: transparent;
}